<html>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/404.css">
    <body>
        <div class="c404">
            <div class="grumpy">
                <a href="/">
                    <img src="/images/grumpy.png" id="grumpy">
                </a>
            </div>
            <div class="notfound">
                    <h1>What are you trying to do here ? You're gonna make me do bad things...</h1>
            </div>
        </div>
    </body>
    <%- include('includes/footer.ejs') %>
</html>