<html>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/pgp.css">
    <div>
        <a href="/">
            <img src="images/grumpy.png" style="display:flex;margin-left:auto;margin-right:auto;width:270px;height:225px">
        </a>
        <h1 style="text-align:center;font-family: 'arial';color:red;margin-bottom:50px;">Here's my PGP Key ya monkey !</h1>
        <h3 style="text-align:center;font-family: 'arial';color:greenyellow;">
            -----BEGIN PGP PUBLIC KEY BLOCK-----<br>
            mQINBGB40b4BEACe2dSjP7wv6tVtVB774gFhTBlGnCFWSGu0XjUEJXbAfTx3btCN<br>
            1Vio6mD0FuyC6osMz9p7Yed2WrhEM5b4AOHZStDu54kfE5xR82lE3i/brQ1ksghc<br>
            y8AR7zL+S9PyU+1dzx0Ug0DptaYiA/llc2CcDpt5f6jwvJQj1aSKT3OFBp3XsWow<br>
            TJsMLvXZwQhxgEwR2kevk29QUkTjdPyCB9Nne//h2Me7XAd4sCpl1RNHeGF+riyP<br>
            2cOyiTzq76S33MoISB12GgOJug0wzEMs9WtYu529n1sc/TCpML7V2Xwz2mLVwYSQ<br>
            5FSN/NZtbXpurCH55B3ppcV27s0AJmumYfivQ37RtR/N0XE70gfA5jATylfeYg1v<br>
            4BkggMw+zXrPfhu58WSrvQkDikFC/TfMqngo27QCvt1Uo0h9maiL9j5IGfrSVFRO<br>
            drgBmhvQbljFN+APo2ed3huQneKuZwzYLd9/d8EZ+Wwqq67PNwz1rfXaIe0XXat7<br>
            gUKzCA+8GAfZk6P7jQW/e8GuzvHZYwEsUHgHZbaQze482SZPQKFUVkTy6Wp11VFD<br>
            jdQGi3RdbqINPqWsBmR3y/CJb9NmsSHfcoYgqAsAsPl2d6yFf8FDZ85VUIxxFvmF<br>
            o4QK+pKm1aLtI6kT2CaoBwRC0fq/0vNL8CDeOBO02DLTWHFJa7vbzHw7awARAQAB<br>
            tB14NjBkNSA8MHg2MGQ1QHByb3Rvbm1haWwuY29tPokCVAQTAQoAPhYhBI5bnFLj<br>
            +9LyNF2feL+su+RXR8+zBQJgeNG+AhsDBQkB4TOABQsJCAcCBhUKCQgLAgQWAgMB<br>
            Ah4BAheAAAoJEL+su+RXR8+zGZYQAJrQf/ncP+Y/28VDqbfdHKxb6q8+9dN1liOu<br>
            aSTAwBaHz2VFJGEKGZgIlaCOj68vMHncL9umQtUuU16S6azE2O4b6Qqx7qd24SaU<br>
            IMCCbHSDgMTNlCl92Am54bTnx3NSNjpKbzM7Wo3KG26lLXrY7aeag6tW2p813xie<br>
            dbrp02y9nVM/tz49AmuSPFofP+GA2XjYksSBx7yTX1z8Y6jlLqhmOZo14YR4HWfI<br>
            FJUxDxsvnlKLFWc44WLhzCz6NMu9I9nLK3DFMKdyC8/7CmNYRxyN48dYQrohv5qt<br>
            56rNoLCADKyowLC49VyOf/ZLOYFDpDwScFqsRbhu8DLDh/wI5nVaQ8b6KT/WwPVr<br>
            K3i/8u28jkQ2aLXVzQzBee/zop60QwBRVBXMmUMwA8c4AsirWkwokjCmVnKDKNAl<br>
            3IceqkExENUAENAdHHsddSXJWBlnjtdNDLzq71/8Co9NMLhYEn15oCJkSwEfCU9T<br>
            19kwAA52rRsyWvD303v/u18nEy396mAYDpfqb+zK6okKlCVkya0m+Uen7gRXGbrY<br>
            xAbAAMwsp8tYhRf9zCTB1/F6OGp411nYbwD54VQCRkEpYC8B3DegNbsb+EPVQZRK<br>
            xOz6gKlZqNGqmpBE5Zflpbp7quNRtUCIIKw4V/Lu52pJLCjG94+W+EElSBq8FzQM<br>
            H0NpWgwAuQINBGB40b4BEADXqq/CHWgu1xeQCJ34Zz5FEKFIbgUaHFFjFXLQ4pZp<br>
            7rSZ5JNumzFIEh2ab+1vc6/dmgtQaFGsxhpgfUKyjRQ8TS51/ryCzaNXkeH1wjKo<br>
            uUck2oFE7mZj6THdMq+WtzKhPvCTLAOR/ds+yZvtJsiDLgnaLQRvM2XO1XTLviCn<br>
            dDJdNpQ+pAPGzR2wNPmGI9cIWGyPBZQcY81nhNiiNGB72lezXjK28M+QL9j8byGs<br>
            z7aeq2pIsgVzYUZuxrzJlq3R5cYfZZLQiSv1xnz6k33Nf9p4K5aVEfgI0afWQdBj<br>
            6oGlXuGCuW4sgqP+zihgIIV6IVaQlJCZoIj3GiKet7kE5CyRl9klHqvnTOOSUzdJ<br>
            HgEHxdKMQBsrSEd78ETaal4rFxSTfU9+Ly8eGLAwNkbFiNMXGhgGYR8VNwHvDR72<br>
            T5bzvnYC5uyKP5+xFVDyGT9+xSg+h688BjhZFwDB05OR6UUniMkuRBr2tvEOGJPo<br>
            A2+n6x27bQ2tW1eKlBZ/86ByvuMLCo9lXBKvh4EZE7ugPJo4EyfgM/IuV76kAk2l<br>
            4UH8xQ+UZJiyQ27nIYAqtvECKeObR2jtWqtP98GFROeUIF4mIAiitsAfi/sNXtDd<br>
            aPVVOOZatsnH6T5sVMM2nJ6o6yw9r5/Z7pVRXzBFbU3z3qBcmQH7WeSioZO1zKHU<br>
            0wARAQABiQI8BBgBCgAmFiEEjlucUuP70vI0XZ94v6y75FdHz7MFAmB40b4CGwwF<br>
            CQHhM4AACgkQv6y75FdHz7P6ExAAmd0ZdcHkPbkuSOs1FP68soCDFq+kNnGwcLeH<br>
            WIvB2Q8GMr8fSB19xoQVaGLUgBtVM7hRrXf/VUiboHOVwTyloRxR1CoAAh3+jug5<br>
            4b+kocBA/mdaA+fx2sMRcITHT1QBdycg9FY2mLvsfItn/RmwbEpIdb00gtU7/RS5<br>
            iChlYDQ/LXMDU3D5YhvG18Lw5+t43DcTOyz8iAekrCuhJ5DGJHLeMV1YWzBO49xX<br>
            J8z4bF1tS5NMymsWzjlWdLP4TZeV0OI3gqr4hkXsS22+ubJ18Equ4KMGPdIbntRz<br>
            JVrWF/hHY/2Lk1rrz2Y/o7ErJU7U9c5DrEXp/E8NBJvPti4xhRps+Ry/o98plGLG<br>
            /28IiR21RZ0XSN1yMG+UcvUtmLQ8gHRQIfe0iJsWjmKus9+oxnFEfy/T/HMNvKGS<br>
            Xa29EExcgpQuR95+KQnRimyvLMAkL9yAA+6uE6yz4ZwGdhaEM3Vx9wnL3326A5MH<br>
            FjoU5im0xvwAN7hqUFvZBrf96KqufbM92zr9njNfEiwSKhj52HFsVL5RDPDvPxD+<br>
            b8qgGd3hxB+jGfx3ovze2uoio+wruziujpZXVZ09EfzVj7l6YL57RcZFOxCFVpJz<br>
            gzVBGuyO7GjOhinVWmrQ103iThX1iUym2q0AUZXhRB0WAzXpWcNG/MstCHDG6gUb<br>
            gnm7dlM=<br>
            =STyE<br>
            -----END PGP PUBLIC KEY BLOCK-----<br>
        </h3>
    </div>
</html>